body{
    color: burlywood;
    background-color: black;
}

/*Header Items*/

header{
  display: block;
  width: 100%;
  text-align: center;
  background-color: burlywood;
}

h1{
  width: 100%;
  display: inline-block;
  color: black;
}

nav{
  width: 100%;
  display: inline-block;
}

li{
  display: inline-block;
  width: 32% ;
}

a{
  text-decoration: none;
  color: black;
}

/*Main Items*/

main{
  display: block;
  width: 100%;
  text-align: center;
}

#principal{
  display: block;
  position: relative;
}

img{
  width: 100%;
  display: block;
}

.contenidoimg{
  position: absolute;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 5%;
  width: 90%;
  background-color: #76bec7;
  color: black;
  opacity: 0.4;
}

h2{opacity: none;}
p{opacity: 1;}






/* Tablets */
@media (min-width: 768px) {
  body { 
    margin: 0% 5%;
  }
  /*Header Items*/
  h1{
    width: 49%;
    text-align: right;
  }
  
  nav{
    width: 49%;
    text-align: left;
  }
  /*Main Items*/
  .contenidoimg{
    position: absolute;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 25%;
    width: 80%;
  }

}

/* Normal Desktops */
@media (min-width: 992px) {
  body { 
    margin: 0% 10%;
  }
  /*Header Items*/
  h1{
    width: 49%;
    text-align: left;
  }
  nav{
    width: 49%;
    text-align: right;
  }
  /*Main Items*/
  .contenidoimg{
    position: absolute;
    margin-left: 15%;
    margin-right: 15%;
    width: 50%;
  }
}